html, body {
    padding: 0;
    margin: 0;
}

.primary-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secondary-video {
    position: absolute;
    max-width: 20%;
    width: 20%;
    margin: 5px;
    border-radius: 10px;
}
